<section class="taking__ability">
	<div class="container">
		<div class="row">
		<div class="col-sm-12">
			<div class="taking__abilityinnter">
				{{ content.body.0 }}
			</div>
			<br>
			<div class="accordion_containerinnter">
				<div class="accordion_head"><h2>Choose Your Pathway to Savings</h2><span class="expand__icon">EXPAND +</span></div>
				<div class="accordion_body"  style="display: none;">
					{{ content.field_getting_started }}
				</div>
			</div>
			<div class="accordion_containerinnter">
				<div class="accordion_head"><h2>About the $5 Home Delivery Option (for Retail Pharmacies)</h2><span class="expand__icon">EXPAND +</span></div>
				<div class="accordion_body"  style="display: none;">
					{{ content.field_mobile_support_faq }}
				</div>
			</div>			
			<div class="accordion_containerinnter">
				<div class="accordion_head"><h2>About the $0 Home Delivery Option</h2><span class="expand__icon">EXPAND +</span></div>
				<div class="accordion_body"  style="display: none;">
					{{ content.field_program_details }}
				</div>				
			</div>

			
		</div>
	</div>
</section>


